$dark-grey: #3d3d3d;
$medium-grey: #8a8a8a;
$teal: #056571;
$white: #fff;
$watermelon: #ff6a5c;
$fresh: #ccdfcb;
$daisy: #e9e7da;
$grey-blue: #a9b7c0;
$slate: #eae3ea;
$sleek-grey: #a5a5af;
$gold-leaf: #d9b310;
$ivory-black: #1d2731;
$ga-blue: #0014af;
$prussion-blue: #0b3c5d;
$powder: #bfd8d2;
