* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

//HEADER
header {
  text-align: center;
  // background-color: black;
  background-color: $gold-leaf;
  padding-bottom: 2em;
  border-bottom: $white solid 2px;
  padding: 3em 0;
}

nav {
  text-align: right;
  background-color: black;
  padding-right: 1em;
  // background-color: $gold-leaf;
}

.nav-button {
  // background-color: $gold-leaf;
  background-color: black;
  // background-color: black;
  color: $white;
  font-size: 1.2em;
  padding: 8px 10px;
  border: 0;
}

// .nav-button:hover {
//   background-color: $gold-leaf;
// }

.change-pwd-button{
  display: none;
}

.my-orders-button {
  display: none;
}

.log-out-button {
  display: none;
}

.user-dropdown {
  display: inline-block;
  text-align: right;
  padding: none;
  border: none;
}

.dropdown-button {
  border: none;
  background-color: transparent;
  margin: 2px 0;
}

.dropdown-toggle{
  padding: none;
  margin: none;
  border: none;
  color: $white;
  font-size: 1.2em;
}

.nav-pills {
  border-radius: none;
}

.nav > li > a {
  padding: none;
}


//BODY
body {
  background-color: $powder;
}

//SHOPPING CART

#shopping-cart {
  display: none;
  width: 20%;
  height: 95%;
  border: $white solid 2px;
  background-color: $white;
  color: $medium-grey;
  position: fixed;
  overflow: scroll;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 1em;
}

#shopping-cart h2 {
  margin-left: 10px;
  color: black;
  font-weight: 100;
}

.selected-product {
  margin: 1.5em 2em;
}


.remove {
  float: right;
  color: $medium-grey;
}

.selected-product-name {
  font-size: 15px;
  font-weight: 400;
  color: $gold-leaf;
}

.update-selproduct-form .change-style {
  float: right;
}

.total-price {
  float: right;
  position: fixed;
  bottom: 50px;
  right: 20px;
}

.spformat {
  margin: 10px 0;
}

.update-button {
  float: right;
  border-radius: 3px;
  background-color: $white;
  color: $medium-grey;
  width: 50px;
  box-shadow: none;
  border:none;
}

#checkout {
  float: right;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.stripe-button-el span {
  background: $dark-grey;
  text-shadow: 0;
  border-radius: 0;
}

//ABOUT PAGE
#about-page {
  display: none;
  line-height: 2.5;
  width: 500px;
}

//LOG IN PAGE
#log-in-page {
  display:none;
  width: 900px;
  margin: 3em auto;
}

//USER PAGE
#user-page {
  display:none;
  width: 900px;
  margin: 3em auto;
}

//CONTENT
.div #content {
  margin: 3em auto;
  width: 1136px;
}

//PRODUCTS
.product {
  width: 200px;
  text-align: left;
  float: left;
  margin: 3em;
}

.photo-small {
  box-shadow: 0px 3px 4px 1px $medium-grey;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}

.product-name {
  float: left;
  margin-left: 5px;
}

.product-price {
  float: right;
  margin-right: 5px;
}

#content .select-product-form {
  width: 100%;
  margin-bottom: 1em;
}

.custom-select {
  background-color: $medium-grey;
  color: $white;
  width: 50px;
  margin: 0 5px;
  box-shadow: none;
  border:none;
}

.add-button {
  border-radius: 3px;
  background-color: $white;
  color: $medium-grey;
  width: 50px;
  margin: 0 5px;
  box-shadow: none;
  border:none;
}
