<!-- {{#each products}}
  <span class="product" data-id={{_id}}>
    <div class="image-placeholder">

    </div>
    <img src={{photo}} alt="trip photo"/>
    <p class="product-name">{{name}}</p>
    <p class="product-price">${{price}}</p>
  </span>
{{/each}} -->
ORDERS GO HERE
